<footer class="footer">
  <div class="footer-container container">
    <div class="footer-logo-container">
      <div class="footer-logo-text">
        <div class="footer-logo-first">
          <div class="footer-logo">
            <a class="footer-logo-link" href="#">
              <svg class="footer-svg" width="16" height="16">
                <use href="/img/icons.svg#logo"></use>
              </svg>
              <svg class="footer-svg" width="148" height="12">
                <use href="/img/icons.svg#logo-green-harvest"></use>
              </svg>
            </a>
          </div>
          <p class="footer-text">
            Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit baskets are the perfect choice.
          </p>
        </div>
        <div class="footer-nav-container">
          <nav class="footer-nav">
            <ul class="footer-nav-list">
              <li>
                <a class="footer-nav-links" href="#howitworks">How it works</a>
              </li>
              <li>
                <a class="footer-nav-links" href="#vegetables">Vegetables</a>
              </li>
              <li>
                <a class="footer-nav-links" href="#reviews">Reviews</a>
              </li>
            </ul>
          </nav>
          <address class="footer-address">
            <ul class="footer-add-list">
              <li>
                <a class="footer-add" href="tel:+380684439426">+380 (68) 443-94-26</a>
              </li>
              <li>
                <a class="footer-add footer-add-scnd" href="#">1678 S. Pioneer Road Salt Lake City UT 84104</a>
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="footer-policy">
        <ul class="footer-policy-list">
          <li>
            <a class="footer-policy-links" href="#">Privacy Policy</a>
          </li>
          <li>
            <p class="footer-policy-text">/</p>
          </li>
          <li>
            <a class="footer-policy-links" href="#">Cookie settings</a>
          </li>
        </ul>
        <a class="footer-policy-links footer-policy-copy">&copy;Green Harvest 2023</a>
      </div>
    </div>
</footer>