<header class="header">
  <div class="container header-container">
    <!-----Logo------->
    <div class="header-logo-green-harvest">
      <svg class="header-icons-logo" width="16" height="16">
        <use href="../img/icons.svg#logo"></use>
      </svg>

      <a href="" class="header-logo">
        <svg class="header-logo-green" width="148" height="12">
          <use href="../img/icons.svg#logo-green-harvest"></use>
        </svg>
      </a>
    </div>
    <!-------Logo-------->

    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="#howitworks" class="header-link"> How lt Works</a>
        </li>
        <li class="header-item">
          <a href="#vegetables" class="header-link">Vegetables</a>
        </li>
        <li class="header-item">
          <a href="#reviews" class="header-link">Reviews</a>
        </li>
      </ul>
      <!-- Кнопка SHOP NOW -->
      <button class="header-shop" type="button">SHOP NOW</button>
    </nav>
    <!-- Кнопка для мобильного меню -->
    <button class="header-btn" type="button" data-modal-open>
      <svg class="header-icon-burger-menu" width="32" height="32">
        <use href="../img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
