<section id="howitworks" class="how-work">
  <div class="how-work-container container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="how-work-img">
      <picture>
        <source
          srcset="
            /img/how-it-works/rectangle_page@1x.webp 1x,
            /img/how-it-works/rectangle_page@2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/how-it-works/imagetab@1x.webp 1x,
            /img/how-it-works/imagetab@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/how-it-works/imagemob@1x.webp 1x,
            /img/how-it-works/imagemob@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/img/how-it-works/rectangle_page@1x.webp"
          alt="girl in the kitchen"
          width="640"
          height="560"
          class="how-img"
        />
      </picture>
    </div>
    <div class="how-work-wrap">
      <h3 class="how-work-title">
        To order your <span class="how-title-span">vegetable</span>
        basket, simply follow these
        <span class="how-title-span">easy steps</span>
      </h3>
      <p class="how-work-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="how-work-list">
        <li class="how-work-item">
          Just choose <span class="how-item-span">the vegetable</span> you want
          to order by clicking on the checkboxes
          <span class="how-item-span">next to it.</span>
        </li>
        <li class="how-work-item">
          Click on <span class="how-item-span">the basket</span> and fill out
          the form.
        </li>
        <li class="how-work-item">
          Sit back and relax! Your
          <span class="how-item-span">fresh vegetables</span> basket will be
          delivered.
        </li>
      </ol>
    </div>
  </div>
</section>
