<div class="modal-overlay">
  <div class="modal">
    <button class="close-btn" data-modal-close>
      <svg class="close-icon">
        <use href="/img/icons.svg#exit"></use>
      </svg>
    </button>

    <nav class="nav-bar">
      <button
        class="nav-link"
        type="button"
        onclick="window.location.href='#order'"
        data-modal-close
      >
        <span class="btn-link">How It Works</span>
      </button>
      <button
        class="nav-link"
        type="button"
        onclick="window.location.href='#order'"
        data-modal-close
      >
        <span class="btn-link">Vegetables</span>
      </button>
      <button
        class="nav-link"
        type="button"
        onclick="window.location.href='#order'"
        data-modal-close
      >
        <span class="btn-link">Reviews</span>
      </button>
    </nav>
    <button
      class="shop-btn"
      type="button"
      onclick="window.location.href='#order'"
      data-modal-close
    >
      SHOP NOW
    </button>
  </div>
</div>
