<div class="modal" data-modal>
  <button class="mobmenu-close-btn" data-modal-close type="button">
    <svg class="mobmenu-close-icon" width="32" height="32">
      <use href="./img/icons.svg#exit"></use>
    </svg>
  </button>
  <nav>
    <ul class="mobmenu-list">
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#how-it-works">How It Works</a>
      </li>
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#vegetables">Vegetables</a>
      </li>
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#reviews">Reviews</a>
      </li>
    </ul>
  </nav>
  <div class="mobmenu-footer">
    <button class="mmf-btn" type="button">SHOP NOW</button>
  </div>
</div>
