<div class="modal-overlay" data-modal>
  <div class="modal">
    <button class="close-btn" data-modal-close>
      <svg class="close-icon" wight="16" height="16">
        <use href="/img/icons.svg#exit"></use>
      </svg>
    </button>

    <nav class="nav-bar">
      <button type="button" class="nav-link" data-modal-close>
        <a class="btn-link" href="#howitworks">How It Works</a>
      </button>
      <button type="button" class="nav-link" data-modal-close>
        <a class="btn-link" href="#vegetables">Vegetables</a>
      </button>
      <button type="button" class="nav-link" data-modal-close>
        <a class="btn-link" href="#reviews">Reviews</a>
      </button>
    </nav>
    <button class="shop-btn" type="button" data-modal-close>
      <a href="#order">SHOP NOW</a>
    </button>
  </div>
</div>
