<section class="section reviews-section">
    <div class="container reviews-container">
        <div class="reviews-block-description">
            <h2 class="title reviews-description-title">reviews from our
                <span class="title title-description-span">customers</span>
            </h2>
            <p class="reviews-description-text">Words of our customers: impressions and opinions about the quality of our services and the freshness of
                our products.</p>
        </div>
        <ul class="reviews-list">
            <li class="reviews-item">
                <img class="reviews-img" 
                srcset="../img/reviews/image1@1x-min.webp 1x, ../img/reviews/image1@2x-min.webp 2x" 
                src="../img/reviews/image1@1x-min.webp" 
                width="56"
                height="56"  
                alt="John Wax">
                <h3 class="reviews-name">John Wax</h3>
                <p class="reviews-text">These vegetables are my secret to delicious and healthy meals. The quality is
                    always at the highest level, the aroma and
                    taste are enchanting. I advise every fan of real products!</p>
            </li>
            <li class="reviews-item">
                <img class="reviews-img"
                srcset="../img/reviews/image2@1x-min.webp 1x, ../img/reviews/image2@2x-min.webp 2x" 
                src="../img/reviews/image2@1x-min.webp" 
                width="56"
                height="56" 
                alt="Victoria Romashenko">
                <h3 class="reviews-name">Victoria Romashenko</h3>
                <p class="reviews-text">I love how fast and fresh the vegetables are delivered. Salads always turn out
                    so appetizing, and soups are real
                    masterpieces. The quality is impeccable!</p>
            </li>
            <li class="reviews-item">
                <img class="reviews-img"
                srcset="../img/reviews/image3@1x-min.webp 1x, ../img/reviews/image3@2x-min.webp 2x" 
                src="../img/reviews/image3@1x-min.webp" 
                width="56"
                height="56" 
                alt="Ihor Trachuk">
                <h3 class="reviews-name">Ihor Trachuk</h3>
                <p class="reviews-text">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the
                    taste, as if from the garden directly to
                    my table. It is now my main vegetable supplier.</p>
            </li>
        </ul>
    </div>
</section>