<section class="section vegetables" id="vegetables">
  <div class="container">
    <div class="wrapp-vegetables-title">
      <h2 class="vegetables-tite">
        organic<span class="vegetables-color-change"> vegetables</span>
      </h2>
      <p class="vegetables-descr">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <div class="vegetables-img">
          <picture>
            <source
              srcset="
                /img/vegetables/products-desktop/eggplant-desktop.webp    1x,
                /img/vegetables/products-desktop/eggplant-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/vegetables/products-mobile-tablet/eggplant-mobile.webp    1x,
                /img/vegetables/products-mobile-tablet/eggplant-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/vegetables/products-mobile-tablet/eggplant-mobile.webp"
              alt="eggplants"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>

      <li class="vegetables-card">
        <h3 class="vegetables-card-title">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <div class="vegetables-img">
          <picture>
            <source
              srcset="
                /img/vegetables/products-desktop/leek-desktop.webp    1x,
                /img/vegetables/products-desktop/leek-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/vegetables/products-mobile-tablet/leek-mobile.webp    1x,
                /img/vegetables/products-mobile-tablet/leek-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/vegetables/products-mobile-tablet/leek-mobile.webp"
              alt="leeks"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <div class="vegetables-img">
          <picture>
            <source
              srcset="
                /img/vegetables/products-desktop/mushrooms-desktop.webp    1x,
                /img/vegetables/products-desktop/mushrooms-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/vegetables/products-mobile-tablet/mushrooms-mobile.webp    1x,
                /img/vegetables/products-mobile-tablet/mushrooms-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/vegetables/products-mobile-tablet/mushrooms-mobile.webp"
              alt="mushrooms"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <div class="vegetables-img">
          <picture>
            <source
              srcset="
                /img/vegetables/products-desktop/corn-desktop.webp    1x,
                /img/vegetables/products-desktop/corn-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/vegetables/products-mobile-tablet/corn-mobile.webp    1x,
                /img/vegetables/products-mobile-tablet/corn-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/vegetables/products-mobile-tablet/corn-mobile.webp"
              alt="corn"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <div class="vegetables-img">
          <picture>
            <source
              srcset="
                /img/vegetables/products-desktop/potatoes-desktop.webp    1x,
                /img/vegetables/products-desktop/potatoes-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/vegetables/products-mobile-tablet/potatoes-mobile.webp    1x,
                /img/vegetables/products-mobile-tablet/potatoes-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/vegetables/products-mobile-tablet/potatoes-mobile.webp"
              alt="potatoes"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <div class="vegetables-img">
          <picture>
            <source
              srcset="
                /img/vegetables/products-desktop/carrot-desktop.webp    1x,
                /img/vegetables/products-desktop/carrot-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/vegetables/products-mobile-tablet/carrot-mobile.webp    1x,
                /img/vegetables/products-mobile-tablet/carrot-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/vegetables/products-mobile-tablet/carrot-mobile.webp"
              alt="carrots"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
