.footer-svg {
    fill: #FBFBFB;
}

.footer {
    background-color: #7A3145;
    padding: 40px 20px;
}
/* .footer-container {
    display: flex;
} */
.footer-text {
    margin-top: 14px    ;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.43em;
        color: #FBFBFB;
        max-width: 335px;
}
.footer-nav {

    /* max-width: 227px; */
    gap: 14px;
}
.footer-nav-list {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 14px;
}

.footer-nav-links {
font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
}
.footer-address {
    display: flex;
    gap: 14px;
    max-width: 215px;
}
.footer-add-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 215px;
}
.footer-add {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.43em;
        color: #FBFBFB;
        max-width: 179px;
}
.footer-add-scnd {
    max-width: 179px;
}
.footer-policy {
margin: 80px 0 0;
}
.footer-policy-list {
    color: #D4BFC4;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.footer-policy-links {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.43em;
        color: #D4BFC4;
}
.footer-policy-copy {
    display: flex;
    margin-top: 16px;
}
.footer-policy-text {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.43em;
        color: #D4BFC4;
}
@media screen and (min-width: 768px) {
.footer {
    padding: 32px;
}
.footer-text {
    margin-top: 24px;
font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;
    max-width: 265px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-nav-list{
    padding: 0 0 64px;
    gap: 24px;
}
.footer-nav-container {
    margin: 0 32px 0 0;
}
.footer-add{
    font-size: 16px;
    line-height: 1.25em;
}
.footer-add-list {
    gap: 24px;
}
.footer-policy {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0;
}
.footer-policy-copy{
    margin-top: 0;
}
}
@media screen and (min-width: 1158px) {
    .footer{
        padding: 52px 100px;
    }
.footer-nav-container {
    max-width: 565px;
    display: flex;
    margin: 0;
}
.footer-nav-list {
    padding: 0;
    margin-right: 121px;
}
.footer-container {
    width: 100%;
}
.footer-policy{
    margin: 124px 0 0;
}
}