.footer {
    background-color: #7A3145;
    padding: 40px 0px;
}
.footer-logo-text {
    margin-bottom: 80px;
}
.footer-logo-first {
    margin-bottom: 40px;
}
.footer-logo {
    margin-bottom: 14px;
}

.footer-logo-link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-svg {
    fill: #FBFBFB;
}
.footer-text {
    font-size: 14px;
    line-height: 1.43em;
    color: #FBFBFB;
    max-width: 335px;
}
.footer-nav {
    margin-bottom: 40px;
}
.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-nav-links {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
}

.footer-address {
    display: flex;
    gap: 14px;
    max-width: 215px;
}

.footer-add-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 215px;
}

.footer-add {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43em;
    color: #FBFBFB;
    max-width: 179px;
}

.footer-add-scnd {
    max-width: 179px;
}

.footer-policy-list {
    color: #D4BFC4;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    margin-bottom: 16px;
}

.footer-policy-links {
    font-size: 14px;
    line-height: 1.43em;
    color: #D4BFC4;
}

.footer-policy-text {

    font-size: 14px;
    line-height: 1.43em;
    color: #D4BFC4;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 0;
    }
    .footer-container {
        padding: 32px;
    }
      .footer-logo-container {
        margin-bottom: 0;
    }
    .footer-logo-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .footer-logo-first {
        margin-bottom: 0;
    }
  .footer-logo {
        display: flex;
        margin-bottom: 24px;
    }
    .footer-logo-link {
        width: 216px;
        height: 20px;
        gap: 9px;
    }
        .footer-text {
        font-size: 16px;
        line-height: 1.25em;
        max-width: 265px;
    }
    .footer-nav {
        margin-bottom: 64px;
    }
.footer-nav-list {
        gap: 24px;
    }
    .footer-add-list {
        gap: 24px;

    }
      .footer-add {
        font-size: 16px;
        line-height: 1.25em;
    } 
      .footer-policy {
        display: flex;
        justify-content: space-between;

    }
    .footer-policy-list {
        margin-bottom: 0;
    }
    .footer-policy-copy {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 52px 100px;
    }
 .footer-container {
        padding: 0;
    }
    .footer-logo-text {
        margin-bottom: 124px;
    }
    .footer-nav-container {
        display: flex;
        gap: 121px;
    }
    .footer-nav {
        margin-bottom: 0;
    }
    .footer-policy-list {
        gap: 12px;
    }
}