.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(20px);
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
}
.header-logo-green-harvest {
  padding: 8px 0;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-icons-logo,
.header-logo-green,
.header-icon-burger-menu {
  fill: #fbfbfb;
}

.header-nav {
  display: none;
}

.header-btn {
  display: flex;
  background: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header {
    transform: translateY(32px);
  }

  .header-icons {
    width: 216px;
    height: 20px;
    gap: 9px;
  }

  .header-logo-green-harvest {
    padding: 10px 0;
  }

  .header-icons-logo {
    width: 20px;
    height: 20px;
  }
  .header-logo-green {
    width: 188px;
    height: 17px;
  }
  .header-icon-burger-menu {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header-btn {
    display: none;
  }

  .header-logo-green-harvest {
    padding: 16px 0;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    gap: 8px;
    margin-right: 20px;
  }
  .header-link {
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #fdfdfd;

    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 12px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    background: #d4bfc4;
    color: #7a3145;
  }

  .header-link:active {
    background: #fbfbfb;
    color: #7a3145;
  }

  .header-shop {
    border-radius: 30px;
    padding: 16px 32px;
    font-weight: 600;
    line-height: 1.11;

    background: #7a3145;
    border: none;

    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #fbfbfb;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-shop:hover,
  .header-shop:focus {
    background: #d4bfc4;
    color: #7a3145;
  }

  .header-shop:active {
    background: #fbfbfb;
    color: #7a3145;
  }
}
