.how-work-container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.how-work-img {
  background-color: #7a3145;
  padding: 40px 20px;
  width: 375px;
}

.how-img {
  border-radius: 30px;
}

.how-work-wrap {
  background-color: #576f35;
  padding: 80px 20px;
  width: 375px;
}

.how-work-title {
  width: 335px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.how-title-span {
  color: #d4bfc4;
}

.how-work-text {
  width: 335px;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.how-work-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  counter-reset: step-counter;
}

.how-work-item {
  font-size: 14px;
  line-height: 1.43;
  color: #858585;
  width: 100%;
  border-radius: 15px;
  background: #fbfbfb;
  padding: 12px 27px 12px 100px;
  counter-increment: step-counter;
  position: relative;
}

.how-work-item:nth-child(2) {
  padding: 18px 27px 18px 100px;
}

.how-work-item::before {
  content: counter(step-counter) '';
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  color: #fbfbfb;
  font-size: 18px;
  background-color: #7a3145;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 5px solid #d4bfc4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-item-span {
  font-weight: 700;
  color: #141414;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .how-work-img {
    width: auto;
  }

  .how-work-wrap {
    width: auto;
  }

  .how-work-title {
    width: auto;
  }

  .how-work-text {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .how-work-container {
    max-width: 768px;
    margin: 0 auto;
  }

  .how-work-img {
    width: 768px;
    padding: 100px 64px;
  }

  .how-work-wrap {
    padding: 100px 164px;
    width: 768px;
  }

  .how-work-title {
    width: 440px;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .how-work-text {
    width: 440px;
    line-height: 1.25;
    font-size: 16px;
    margin-bottom: 52px;
  }

  .how-work-list {
    gap: 24px;
  }

  .how-work-item {
    line-height: 1.25;
    font-size: 16px;
    padding: 18px 15px 18px 100px;
  }

  .how-work-item:nth-child(2) {
    padding: 28px 17px 28px 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .how-work {
    background: linear-gradient(to right, #7a3145 50%, #576f35 50%);
  }

  .how-work-container {
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
  }

  .how-work-img {
    width: 640px;
    padding: 100px;
  }

  .how-work-wrap {
    padding: 100px;
    width: 640px;
  }

  .how-work-text {
    margin-bottom: 104px;
  }
}
