.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 10;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #576f35;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 296px;
    justify-content: space-between;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal.is-open {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mobmenu-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
}

.mobmenu-close-icon {
stroke: #fbfbfb;
}

.mobmenu-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    justify-content: center;
    align-items: center;
}



.mobmenu-link {
   background: transparent;
    color: #fbfbfb;
    width: 118px;
    height: 44px;
    display: flex;
    font-size: 14px;
    line-height: 1.43;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #fbfbfb;
}

.mobmenu-link:hover,
.mobmenu-link:focus,
.mobmenu-link.active {
    background-color: #fbfbfb;
    color: #7a3145;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-footer {
    width: 100%;
    display: flex;
    justify-content: center;
     position: absolute;
    bottom: 52px;
}

.mmf-btn {
    background-color: #7a3145;
    color: #fbfbfb;
    border: none;
    padding: 16px 41px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
   }

.mmf-btn:hover,
.mmf-btn:focus {
    background-color: #fbfbfb;
    color: #7a3145;
    border: 2px solid #7a3145;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.171);
    }

    .mobmenu {
        width: 351px;
        height: 100vh;
        right: 0;
        padding-top: 360px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .mobmenu.is-open {
        right: 0;
        transform: translateX(0);
    }

    .mobmenu-close-btn {
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
    }
}